:root {
  --dark: #19283f;
  --green: #33d1cc;
  --red: #ff3150;
  --yellow: #ffc400;
  --section:#dbf4fe;
}

body {
  font-family: "Roboto", sans-serif;
}

/* navbar */

nav {
  background: var(--dark);
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--green);
}

.search {
  border-left: 1px solid var(--green);
  color: var(--green);
}

.navbar .navbar-toggler {
  color: #fff;
  font-size: 25px;
  border-color: #fff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green);
}
/* end navbar */

/* landing */

.landing {
  background-color: var(--dark);
  min-height: calc(100vh - 72px);
}

.main-btn {
  background-color: var(--dark);
  color: var(--green);
  padding: 10px 20px;
}

.main-btn:hover {
  background-color: var(--green);
}

.main-title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--green);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.main-title:hover::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--green);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
/* End landing */

/* features */

.icon-holder {
  height: 200px;
}

.section-icon {
  color: var(--yellow);
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section);
}

.features .icon-holder .icon {
  color: var(--green);
}

.features .feat h4 {
  color: var(--yellow);
}
/* End features */

/* our work */

.our-work {
  background-color: var(--section);
}

.our-work ul .active {
  background-color: #19283f;
  color: var(--green);
}

.our-work ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.our-work ul li:not(.active):hover {
  color: var(--green);
}

.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color:rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dbf4fe;
  font-size: 1.5rem;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover::before {
  transform: translateX(0);
}
/* End our work */

/* stuff */

.stuff .desc {
  max-width: 500px;
}
/* End stuff */

/*team*/

.team {
  background-color: var(--section);
}

.box h4 {
  background-color: var(--green);
}
/*End team*/

/* project */

  .project {
    background-color: var(--dark);
  }
/* End project */

/* sub */

.subscribe {
  background-color: var(--yellow);
}

.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
}

.subscribe input[type="text"]:focus {
  outline: none;
}

.subscribe ::placeholder {
  color: #fff;
}

.subscribe input[type="submit"] {
  background-color: var(--green);
  color: var(--section);
}
/* End sub */

/* footer */

.footer {
  background-color: var(--dark);
}

.footer .copyright > span {
  color: var(--green);
}

.footer .copyright div span {
  color: var(--yellow);
}

.footer .contactul svg {
  width: 20px;
  height: 20px;
}

.footer .facebook {
  background-color: #1877f2;
}

.footer .twitter {
  background-color: #1da1f2;
}

.footer .linkedin {
  background-color: #0a66c2;
}

.footer .instagram {
  background-color: #c13584;
}

.footer .youtube {
  background-color: #ff0000;
}
/* End footer */